<div class="new-notify" onmouseleave="removeElement(this);" onmouseover="updateStateNotify(<%= notification.id %>)" id="new-notify_<%= notification.id %>">
  <div class="new-notify-header">
    <button onclick="closeNewNotify(this);"><%= fa_icon "times" %></button>
  </div>
  <%= link_to notification.link, remote: true, class:"notify-content" do %>
    <% sender = User.find_by id: notification.sender_id %>
      <%=  image_tag(sender.image, class:"small-avatar seen") %>
        <div class="content seen">
        <span class="sender seen"><%= sender.name %></span><span class="seen"> <%= notification.event.content %></span>
        <p><%= notification.interval %> <%= notification.unit %></p>
        </div>
      <% end %>
</div>
