<%= render "shared/header" %>
<div class="group-bg-wrap">
  <div class="bg-wrap">
    <%= image_tag "bg3.jpg" %>
  </div>
  <div class="group-name">
    <h3><%= @group.name %></h3>
  </div>
  <div>
    <h6 style='text-align: right; padding-right: 10%;'>Code: <%= @group.code %></h6>
  </div>
</div>
<div class="wrapper-nonposition container">
  <div>
    <div class='information-wrap'>
  <div class="friend-list-wrapper common-card">
    <div class="header-common-card">
      <span><a href="#">Members</a></span>
    </div>
    <div class="friend-list">
      <%= render partial: "friend_list", locals: {users: @users } %>
    </div>
  </div>
    </div>
  </div>
    <div>
        <div class="card-deck-wrapper">
          <div class="new-post-input">
            <div class="ava-text">
              <!-- usr_path(current_user) -->
                  <%= link_to render(partial: 'shared/avatar', locals: {user: current_user}), usr_path(current_user) %>
                  <%= form_for(@post,  remote: true, url: posts_path(@post)) do |f| %>
                    <div class="error-wraper"></div>
                    <%= f.text_area :message, id:"new_post_textarea", placeholder: "Hi #{current_user.name}, what's your mind?", onkeyup:"showPostBtn(this);" %>
                    <div class="result-upload-image" id="preview-images"></div>
                    <!--  <hr> -->
                    <%= f.number_field :group_id, value: @group.id, hidden: true %>
                    
                    <div class="option" >
                    <%= f.file_field :images, id:'post-photo', multiple: true, onchange:"previewImages(this); showPostBtn(this);" %>
                    <%= f.label  for:'post-photo' do %>
                      <%= fa_icon('image')%> Photos
                    <% end %>
                    <%= f.file_field :videos, id:'post-video', multiple: true, onchange:"showPostBtn(this);" %>
                    <%= f.label  for:'post-video' do %>
                      <%= fa_icon('file-video')%> Videos
                    <% end %>
                    <%= f.file_field :files, id:'post-file', multiple: true, onchange:"showPostBtn(this);" %>
                    <%= f.label  for:'post-file' do %>
                      <%= fa_icon('paperclip')%> Attach
                    <% end %>

                    </div>
                    <%= f.submit "Post", class:"btn btn-primary" %>
                  <% end %>


            </div>
          </div>
            <div class=" card-grid">
                <%= render @posts %>
            </div>
        </div>
    </div>
</div>

<div id="paginator">
    <%= paginate @posts, remote: true %>
</div>

<%= render "shared/footer" %>
