<div class="card-wrapper signup">
  <h3>Đăng nhập</h3>
  <%= form_for :session, remote: true, url: auth_sessions_path() do |f| %>
    <div class="form_line">

    <%= f.label "Email" %>
    <%= f.text_field :email %>
    <div class="email-error error"></div>
    <%= f.label "Mật khẩu" %>
    <%= f.password_field :password %>
    <div class="password-error error"></div>
    <%= f.submit "Đăng nhập"%>
    <div>
  <% end %>
</div>
