<div class="video-call-page">
  <div id="current_user" data-cuser="<%= current_user.id %>">
    <span>current_user <%= current_user.id %> </span>
  </div>
  <div id="remote_user" data-ruser="<%= @remote_user.id %>">
    <%= image_tag @remote_user.image %>
    <p id="wait-to-call">calling to <%= @remote_user.name %></p>
  </div>
<div id="remote-video-container"></div>
<video id="local-video" autoplay onmouseover="draggableVideo(this);"></video>
<div class="control-session">
  <button onclick="toggleVideo();" id="toggleVideo"><%= image_tag("not_video_icon.png", id: "video-icon-img-id") %></button>
  <button onclick="toggleAudio();" id="toggleAudio"><%= fa_icon "microphone" %></button>

  <button onclick="handleLeaveSession()"><%= image_tag "endcall.png" %></button>
</div>
</div>
<%= javascript_include_tag 'video_call_core' %>
<% url = request.fullpath %>
<% if url.include? "signal" %>
  <%= audio_tag("signal-ringtone.mp3", autoplay: true, id:"signal-ringtone", loop: true) %>
<%end%>
