<div class="card" id="post_<%= post.id %>">
    <div class="card-block">
        <div class="header-post">
                    <%= link_to image_tag(post.user.image, class:"small-avatar"), "#" %>
                <div class="name-at">
                    <%= link_to post.user.name, usr_path(post.user) %>
                    <p><%= post.interval %> <%= post.unit %></p>
                </div>
                <% if post.user == current_user %>
                <div class="dropdown-wrapper">
                    <button type="button" class="setting-post-btn" onclick="settingDropdown(<%= post.id %>)"><%= fa_icon "angle-down" %></button>
                    <div class="dropdown-content" id="setting-post-dropdown_<%= post.id %>">
                        <%= link_to edit_post_path(post), class: "edit-btn", remote: true do %>
                            <%= fa_icon "pencil" %> Edit
                                <% end %>
                                    <%= link_to post_path(post), method: "delete", remote: true, class: "del-btn", data: { confirm: "Are you sure?" } do %>
                                        <%= fa_icon "trash" %> Delete
                                            <% end %>
                    </div>
                </div>
      <% end %>
                <div class="clearfix"></div>
        </div>
        <p class="card-text">
            <%= post.message %>
        </p>
        <div class="form-edit">
        </div>

        <hr>
        <div class="react-wrap">
          <%= form_for Like.new, remote:true, :html => {:id => "new_like_#{post.id}"} do |f| %>
            <%= f.hidden_field :duty_type, value:"Post", id: "like-duty-post_#{post.id}" %>
            <%= f.hidden_field :duty_id, value: post.id, id:"duty-post_#{post.id}" %>
                        <%= f.button :submit, id:"like_Post_#{post.id}", remote:true, class:(post.likes.find_by(user_id:current_user.id)?"active-btn":"") do %>
                            <%= fa_icon "thumbs-up" %> Like(<span class="like-count"><%= post.likes.count %></span>)
                                <% end %>
                                    <% end %>
                                        <button onclick="showComments(<%= post.id %>)"><%= fa_icon "comment" %> Comment(<span class="comment-count"><%= post.comments.count %></span>)</button>
        </div>
    </div>
    <div class="comments-wrap" id="comment-wrap-post_<%= post.id %>">
        <div class="input-comment">
            <%= link_to image_tag(post.user.image, class:"small-avatar"), "#" %>
            <%= form_for Comment.new, remote: true, :html => { :id => "new_comment_#{post.id}"} do |f| %>
              <%= f.hidden_field :post_id, value: post.id, id: "add-comment-post_#{post.id}" %>
                    <%= f.text_field :content, autocomplete:"off", placeholder:"Write a comment...", id: "comment_content_#{post.id}"  %>
                            <% end %>
                                <div class="clearfix"></div>

        </div>
        <hr>
        <div class="comment-wrap" id="comment-post_<%= post.id %>">

            <%= render  post.comments.order(created_at: :desc), current_user_id: current_user.id %>
        </div>

    </div>
</div>
