

<!-- <div class="card-e" style="display: none;">
</div> -->
<%= render "shared/header" %>
<div class="wrapper-nonposition container">
    <div class="container">
        <div class="card-deck-wrapper">
          <div class="new-post-input">
            <div class="ava-text">
                  <%= image_tag current_user.image, class:"small-avatar" %>
                  <%= form_for(@post,  remote: true, url: posts_path(@post)) do |f| %>
                    <div class="error-wraper"></div>
                    <%= f.text_area :message, id:"new_post_textarea", placeholder: "Hi #{current_user.name}, what's your mind?" %>
                    <%= f.submit "Post", class:"btn btn-primary" %>
                  <% end %>


            </div>
          </div>
            <div class=" card-grid">
                <%= render @posts %>
            </div>
        </div>
    </div>
</div>

<div id="paginator">
    <%= paginate @posts, remote: true %>
</div>
<%= render "shared/footer" %>
